"Hostname", "Conectado", "Familia SO", "Distribución", "Versión SO", "Arquitectura", "vCPUs", "Memoria (MB)"
{% for host in hostvars.keys() %}
"{{ hostvars[host].ansible_facts.host_info.hostname }}", "{{ hostvars[host].ansible_facts.host_info.conectado }}", "{{ hostvars[host].ansible_facts.host_info.os_family }}", "{{ hostvars[host].ansible_facts.host_info.ansible_distribution }}", "{{ hostvars[host].ansible_facts.host_info.ansible_distribution_version }}", "{{ hostvars[host].ansible_facts.host_info.ansible_machine_arch }}", "{{ hostvars[host].ansible_facts.host_info.ansible_processor_vcpus }}", "{{ hostvars[host].ansible_facts.host_info.ansible_memtotal_mb }}"
{% endfor %}